<h1 style="background-color: chartreuse;">Online Shopping</h1>
    <table>
        <tr>
            <td style="text-align: center;">
                <h2>Login Page</h2>
                <app-login></app-login><br><br>
                <div style="text-align: center;">
                <app-test></app-test>
                <app-test1></app-test1>
                </div>
            </td>
            
        </tr>
        <tr>
            
                <td>
                    <app-test3></app-test3>
                    <app-test4></app-test4><br><br>
                    <app-test5></app-test5>
                </td>
                <td>
                    <app-test6></app-test6>
                    <app-test7></app-test7>
                </td>
           
        </tr>
    </table>
    <div style="text-align: center;"><app-test8></app-test8></div><br><br>
   

  
        <app-test2></app-test2>
   